<h1>Weeks List</h1>

<% @weeks.each do |w| %>
    <h3>#<%= link_to w.week_number, user_week_path(current_user.id, w.id) %> Week:</h3>
    <h5>- Haunteds: (<%= w.haunteds.count %>)</h5>
    <h5>- Farms:(<%= w.farms.count %>)</h5>
    <% end %>
    <br>

<h4><%= link_to "New Week", new_user_week_path(@user) %></h4>
<br>