<h1>Farm Edition Page</h1> 
<h3><%= link_to "Delete", user_week_farm_path(current_user.id, @farm.week_id, @farm.id), data: { method: :delete, confirm: "Are you sure you want to delete the Farm Sale?" } %></h3>

<%= form_for @farm, url: user_week_farm_path(current_user.id, @farm.week_id, @farm.id) do |f| %>
  <%= render 'form', :f => f %>
<% end %>
