<h1>Client Edition Page</h1>
<h4><%= link_to "Delete Company", client_path(@client), data: { method: :delete, confirm: "Are you sure you want to delete the User?" } %></h4>

<%= form_for @client do |f| %>
  <%= render 'form', :f => f %>
<% end %>