<h1>Haunt Edition Page</h1> 
<h3><%= link_to "Delete", user_week_haunted_path(current_user.id, @haunted.week_id, @haunted.id), data: { method: :delete, confirm: "Are you sure you want to delete the Haunted Sale?" } %></h3>

<%= form_for @haunted, url: user_week_haunted_path(current_user.id, @haunted.week_id, @haunted.id) do |h| %>
  <%= render 'form', :h => h %>
<% end %>
