/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
    width: 150px;
}



body{
    background-color: #ffffff;
    margin-left: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

} 

body a{
    color: #383737
}

p {
    padding-left: 50px;
}

header{
    background: #363636;
    height: 70px;
    padding: 15px;
}

.red{
    background-color: white;
    color: red;
}

.orange{
    background-color: white;
    color: orange;
}

.green{
    background-color: white;
    color: green;
}

#left-nav{
     float: left;
 }

#left-nav a{
    font-size: smaller;
    color: white;
 }

li{
    padding-left: 1px;
   
}

ul li{
     list-style-type: none;

}



#right-nav{
    float: right;
}

#right-nav li{
    display: inline-block;
    margin: 10px;
}

#right-nav li a{
    color: white;
    font-size: smaller;
}

footer{
    clear: both;
    background: #363636;
    margin-left: 0px;
    margin-top: 50px;
    text-align: left;
    font-size: small;
    padding: 5px;
    color: white;
}

footer a{
    color: white; 
}

h1{
    clear: both;
    margin-left: 10px;
    color: #fbc33d;
}

h2{
    clear: both;
    margin-left: 30px;
    color: #f6d392;
   
}

h3{
    clear: both;
    margin-left: 40px;
    color: #f6d392;
    
}

h4{
    clear: both;
    margin-left: 20px;

}

div.right{
    float: right;
text-align: right;
padding-right: 50px;

}

div.small{
font-size: xx-small;
color: #363636;
clear: both;
padding-left: 50px;
padding-top: 5px;

}
    